{% load static %}
<! DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>衡水老白干|{% block title %} {%endblock%}</title>
    <link href = "{% static 'css/bootstrap.css' %}" rel = "stylesheet">
    <link href = "{% static 'css/style.css' %}" rel = "stylesheet">
    <script src = "{% static 'js/jquery.min.js' %}"> </script>
    <script src = "{% static 'js/bootstrap.min.js' %}"> </script>
</head>

<body>
    <div class="container top">
        <div class="row">
            <div class="col-sm-2 col-md-1 ">
                <a>
                    <img class="img-responsive" src="{% static 'img/logo.jpg'%}">
                </a>
            </div>
            <div class="col-md-3 hidden-xs">
                <a class="phone ant">
                    <span class ="glyphicon glyphicon-phone">电话:18580524578</span>
                </a>
            </div>
            <div class="col-md-3 hidden-xs">
                <a class="mail ant">
                    <span class ="glyphicon glyphicon-envelope"> 邮箱：haikun08210108@163.com</span>
                </a>
            </div>
        </div>
    </div>

    <div class="line"> </div>
    <nav class="navbar navbar-default" role = "navigation">
        <div class="container">
        <div class="collapse navbar-collapse" id="bs-example">
                   <ul class="nav navbar-nav" style=" width:100%;">
                       <li class="nav-top active ">
                           <a href="{% url 'home' %}">首页</a>
                       </li>

                            <li class="dropdown nav-top">
                                <a herf="#" class="dropdown-toggle on" data-toggle="dropdown">公司简介</a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'IntroSpace:IntroduceView' %}">企业概况</a></li>
                                    <li><a href="{% url 'IntroSpace:IntroduceView' %}">荣誉资质</a></li>
                                </ul>

                            </li>
                            <li class="dropdown nav-top">
                                <a herf="#" class="dropdown-toggle on" data-toggle="dropdown">新闻动态</a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'IntroSpace:IntroduceView' %}">企业要闻</a></li>
                                    <li><a href="{% url 'IntroSpace:IntroduceView' %}">行业新闻</a></li>
                                    <li><a href="{% url 'IntroSpace:IntroduceView' %}">通知公告</a></li>
                                </ul>
                            </li>
                            <li class="dropdown nav-top">
                                <a herf="#" class="dropdown-toggle on" data-toggle="dropdown">产品中心</a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'ProSpace:ProductView' %}">家用机器人</a></li>
                                    <li><a href="{% url 'ProSpace:ProductView' %}">智能监控</a></li>
                                    <li><a href="{% url 'ProSpace:ProductView' %}">人脸识别解决方案</a></li>
                                </ul>
                            </li>
                            <li class="dropdown nav-top">
                                <a herf="#" class="dropdown-toggle on" data-toggle="dropdown">服务支持</a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'IntroSpace:IntroduceView' %}">资料下载</a></li>
                                    <li><a href="{% url 'IntroSpace:IntroduceView' %}">人脸识别开放平台</a></li>
                                </ul>
                            </li>

                            <li class="nav-top" id='science'>
                                    <a href="{% url 'Science:science' %}">科研基地</a>
                            </li>

                            <li class="dropdown nav-top">
                                <a herf="#" class="dropdown-toggle on" data-toggle="dropdown">招兵买码</a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'IntroSpace:IntroduceView' %}">欢迎咨询</a></li>
                                    <li><a href="{% url 'IntroSpace:IntroduceView' %}">加入老油条</a></li>
                                </ul>
                            </li>
                   </ul>

        </div>

        </div>
    </nav>
    {% block content %}
    {% endblock %}

    <div class="container web-footer">
        <div class="row" id ="map-footer">
            <div class="col-md-2">
                <dl>
                    <dt> 公司简介</dt>
                    <dd><a href="{% url 'IntroSpace:IntroduceView' %}">企业概要</a> </dd>
                    <dd><a href="{% url 'IntroSpace:IntroduceView' %}">荣誉资质</a> </dd>
                </dl>
            </div>
            <div class="col-md-2">
                <dl>
                    <dt> 产品中心</dt>
                    <dd><a href="{% url 'ProSpace:ProductView' %}">家用机器人</a> </dd>
                    <dd><a href="{% url 'ProSpace:ProductView' %}">智能监控</a> </dd>
                    <dd><a href="{% url 'ProSpace:ProductView' %}">人脸识别解决方案</a> </dd>
                </dl>
            </div>
            <div class="col-md-2">
                <dl>
                    <dt>服务支持</dt>
                    <dd><a href="{% url 'IntroSpace:IntroduceView' %}">资料下载</a> </dd>
                    <dd><a href="{% url 'IntroSpace:IntroduceView' %}">企业要闻</a></dd>
                    <dd><a href="{% url 'IntroSpace:IntroduceView' %}">人脸识别开放平台</a> </dd>
                </dl>
            </div>
            <div class="col-md-2">
                <dl>
                    <dt>人才招聘</dt>
                    <dd><a href="{% url 'IntroSpace:IntroduceView' %}">欢迎咨询</a> </dd>
                    <dd><a href="{% url 'IntroSpace:IntroduceView' %}">加入我们</a> </dd>
                </dl>
            </div>
            <div class="col-md-4" id="wx">
                <p> 扫码求关注，点个爱心再走</p>
                <img class="qrimg" src="{% static 'img/grd.gif'%}" alt="wx">
                <p>客服热线：<b style="font-size:20px" >18580524578</b></p>
            </div>

        </div>
        <!----版权----->
        <div class="row" id = "patent-footer">
            <p> 人生苦短,我用python</p>
        </div>
    </div>

    <script>
        $(function(){
                $(".dropdown").mouseover(function(){
                    $(this).addClass("open");
                });
                $(".dropdown").mouseleave(function(){
                    $(this).removeClass("open");
                });
        });
    </script>

    <script type="text/JavaScript">
            $('#{{sub_menu}}').addClass("active");
    </script>
    <script type="text/JavaScript">
            $('#{{active_menu}}').addClass("active");
    </script>

</body>
</html>