{% extends 'base.html'%}
{% load static %}
{% block title %}
产品介绍
{% endblock %}

{% block content %}

    <div class="container-fluid" id="Products">
        <div class="row col-md-12 " id ='toppicture'>
            <img class = "img-responsive model-img" src="{% static 'img/science.jpg'%}">
        </div>
    </div>
    <div class="container">
            <div class="row row-3">
                <div class="col-md-3">
                    <div class="model-title">
                        产品中心
                    </div>
                    <div class="model-list">
                        <ul class="list-group">
                            <li class="list-group-item" id="robot">
                                <a href="{ % url 'Products:ProductView''robot'%}">智能机器人</a>
                            </li>
                            <li class="list-group-item" id="monitor">
                                <a href="{ % url 'Products:ProductView''monitor'%}">智能监控</a>
                            </li>
                            <li class="list-group-item" id="faceMg">
                                <a href="{ % url 'Products:ProductView''faceMg'%}">人脸识别</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="model-details-title">
                        产品详细介绍:{{productName}}
                    </div>

                    <div class="model-details">
                        产品详细
                        {% for product in productList%}
                            <div class="row">
                                <div class="col-md-6">
                                    {% for img in product.ProductImg.all %}
                                        {% if forloop.first %}
                                           <a>
                                                <img class="img-responsive" src ="{{img.photo.url}}">
                                           </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="col-md-6">
                                    <h3>{{product.title|truncatechars:"20"}}</h3>
                                    <p>{{product.description|truncatechars:"150"}}  </p>
                                    <div class="thumbnail row-5">
                                        <div class="caption">
                                            <a href="#" class="btn btn-primary" role="button">查看详情</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor%}
                    </div>

                </div>
            </div>
    </div>


{% endblock %}